In [1]:
from set_math import *
from datasets_init import *

sympy imported
pandas imported
numpy imported
scipy imported

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

statsmodels imported
statsmodels.formula imported
statasmodels.stats.api imported
train.csv good
test.csv good
you may now begin

# Preprocessing

### np.nan value

In [2]:
train.shape

(647054, 7)

In [3]:
train.dropna(how='any', inplace=True)
train.shape

(642925, 7)

#### Weekday

In [4]:
# 요일 numerical encoding

wd = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3, 
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6,
}

#### Scancount

In [5]:
def purchase_return(train):
    """
    add new column return
    """
    train.loc[train.ScanCount < 0, "Return"] = 1
    train.loc[train.Return != 1, "Return"] = 0
    train.loc[train.Return == 1, "ScanCount"] = 0

In [6]:
train["Weekday"] = train["Weekday"].apply(lambda x: wd[x])
purchase_return(train)

### Drop `Upc` , `HEALTH AND BEAUTY AIDS`

In [7]:
train.drop("Upc", axis=1, inplace=True)

In [8]:
train = train[train['DepartmentDescription'] != 'HEALTH AND BEAUTY AIDS']

In [9]:
print(train.shape)
print(train.columns)
train.head()

(642923, 7)
Index(['TripType', 'VisitNumber', 'Weekday', 'ScanCount',
       'DepartmentDescription', 'FinelineNumber', 'Return'],
      dtype='object')

,TripType,VisitNumber,Weekday,ScanCount,DepartmentDescription,FinelineNumber,Return
0,999,5,4,0,FINANCIAL SERVICES,1000.0,1.0
1,30,7,4,1,SHOES,8931.0,0.0
2,30,7,4,1,PERSONAL CARE,4504.0,0.0
3,26,8,4,2,PAINT AND ACCESSORIES,3565.0,0.0
4,26,8,4,2,PAINT AND ACCESSORIES,1017.0,0.0

### 학습을 위한 전처리 준비

In [10]:
def count_per_DD(data):
    """
    OneHotEncoding DepartmentDescription 
    then multiply ScanCount.
    """
    dummies = pd.get_dummies(data.DepartmentDescription)
    data_dummies = dummies.apply(lambda x: x * data["ScanCount"])
    data_dummies = data_dummies.replace(-0, 0)
    data[dummies.columns] = data_dummies

In [11]:
count_per_DD(train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:2540: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [12]:
train_max_groupby = train[["TripType", "VisitNumber", "Weekday", "Return"]] # max로 groupby 하는 피처들
group_max = train_max_groupby.groupby("VisitNumber").agg(np.max).reset_index()

In [13]:
dpts = train.DepartmentDescription.unique()

In [14]:
train_dpts = train.loc[:, "1-HR PHOTO":"WIRELESS"]
train_scvn = train[["VisitNumber", "ScanCount"]]
train_sum_groupby = pd.concat([train_scvn, train_dpts], axis=1)
print(train_sum_groupby.shape)
train_sum_groupby.head()

(642923, 69)

,VisitNumber,ScanCount,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,7,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
group_sum = train_sum_groupby.groupby("VisitNumber").agg(np.sum).reset_index()
print(group_sum.shape)
group_sum.head()

(94247, 69)

,VisitNumber,ScanCount,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,2,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,8,29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
triptype_df = train[['TripType', 'VisitNumber']].groupby(['VisitNumber']).mean()
triptype_df.reset_index(drop=False, inplace=True)
triptype_df.shape

(94247, 2)

In [17]:
return_df = train[['Return', 'VisitNumber']].groupby(['VisitNumber']).sum()
return_df['Return'] = return_df['Return'].apply(lambda x: 1 if x > 0 else 0)
return_df.reset_index(drop=False, inplace=True)
return_df.shape

(94247, 2)

In [18]:
weekday_df = train[['Weekday', 'VisitNumber']].groupby(['VisitNumber']).mean()
weekday_df.reset_index(drop=False, inplace=True)
weekday_df.shape

(94247, 2)

In [19]:
group_sum['TripType'] = triptype_df['TripType']
group_sum['Return'] = return_df['Return']
group_sum['Weekday'] = weekday_df['Weekday']

In [36]:
from sklearn.preprocessing import StandardScaler

#scaling refund, purchase 
scaler = StandardScaler()
group_sum['ScanCount'] = scaler.fit_transform(group_sum['ScanCount'].values.reshape(-1, 1))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [38]:
train_df = group_sum.copy()

In [39]:
print(train_df.shape)
train_df.head()

(94247, 72)

,VisitNumber,ScanCount,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,...,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS,TripType,Return,Weekday
0,5,-0.754431,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,999,1,4
1,7,-0.559743,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,30,0,4
2,8,2.068540,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26,1,4
3,9,-0.462399,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,0,4
4,10,-0.462399,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,0,4

In [40]:
X_df = train_df.drop(['TripType', 'VisitNumber'], axis=1)
X_df.shape

(94247, 70)

In [41]:
y_df = train_df[['TripType']]
y_df.shape

(94247, 1)

### Train, Test split

In [42]:
from sklearn.model_selection import train_test_split

X, y = X_df, y_df
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# QDA

In [43]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [44]:
qda = QuadraticDiscriminantAnalysis(store_covariance=True).fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:682: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

In [45]:
qda.predict(X_test)

array([21, 21, 12, ..., 31, 12, 12])

In [46]:
print("Train score: {:.3f}".format(qda.score(X_train, y_train)))
print("Test score: {:.3f}".format(qda.score(X_test, y_test)))

Train score: 0.048
Test score: 0.042

In [47]:
print("QDA confusion matrix : \n",
      confusion_matrix(y_train, qda.predict(X_train)), "\n")

print("QDA classification report : \n",
      classification_report(y_train, qda.predict(X_train)))

QDA confusion matrix :
 [[ 56  57   0 ...,   0   0   3]
 [  0  68   0 ...,   0   0   0]
 [  0 566 210 ...,   0   1   0]
 ...,
 [  0  88   0 ...,   0   1   0]
 [  0  18   0 ...,  19  95   0]
 [  0 641   8 ...,   0   0  38]]

LDA classification report :
              precision    recall  f1-score   support

          3       1.00      0.02      0.04      2771
          4       0.00      0.27      0.01       255
          5       0.95      0.08      0.15      2540
          6       0.05      0.04      0.05       946
          7       0.40      0.01      0.01      4341
          8       0.00      0.00      0.00      9037
          9       0.00      0.00      0.00      7135
         12       0.01      0.68      0.02       199
         14       0.00      0.00      0.00         4
         15       0.26      0.03      0.05       731
         18       0.02      0.04      0.03       421
         19       0.09      0.06      0.07       279
         20       0.30      0.04      0.06       485
         21       0.06      0.63      0.11       469
         22       0.31      0.10      0.15       703
         23       0.00      1.00      0.01        98
         24       0.68      0.07      0.13      1963
         25       0.72      0.12      0.20      2785
         26       0.20      0.21      0.20       388
         27       0.42      0.37      0.39       573
         28       0.04      0.11      0.06       368
         29       0.11      0.03      0.05       320
         30       0.11      0.11      0.11       803
         31       0.04      0.19      0.06       446
         32       0.80      0.07      0.13      1505
         33       0.62      0.01      0.02       986
         34       0.14      0.26      0.19       545
         35       0.18      0.01      0.02      1555
         36       0.68      0.03      0.05      2247
         37       0.15      0.05      0.07      2108
         38       0.23      0.01      0.02      2193
         39       0.00      0.00      0.00      7435
         40       0.79      0.14      0.23      4594
         41       0.65      0.03      0.05       414
         42       0.48      0.08      0.13      1400
         43       0.00      0.00      0.00       636
         44       0.39      0.11      0.17       865
        999       0.86      0.01      0.01      6142

avg / total       0.37      0.05      0.06     70685

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# LDA

In [48]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis(n_components=3, solver="svd", store_covariance=True).fit(X, y)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [49]:
lda_model = lda.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:442: UserWarning: The priors do not sum to 1. Renormalizing
  UserWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [50]:
lda_model.predict(X_test)

array([30, 26, 35, ..., 20, 12, 15])

In [54]:
print("Train score: {:.3f}".format(lda_model.score(X_train, y_train)))
print("Test score: {:.3f}".format(lda_model.score(X_test, y_test)))

Train score: 0.511
Test score: 0.511

In [56]:
print("LDA confusion matrix : \n",
      confusion_matrix(y_train, lda_model.predict(X_train)), "\n")

print("LDA classification report : \n",
      classification_report(y_train, lda_model.predict(X_train)))

LDA confusion matrix :
 [[2624    0    1 ...,    0    0    6]
 [   2    0   99 ...,    0    0    6]
 [  18    0 1180 ...,    0    0   45]
 ...,
 [  40    0   22 ...,    0    0   15]
 [   1    0   16 ...,    3   39   14]
 [ 549    0   21 ...,    0    0 4486]]

LDA classification report :
              precision    recall  f1-score   support

          3       0.71      0.95      0.81      2771
          4       0.00      0.00      0.00       255
          5       0.58      0.46      0.52      2540
          6       0.43      0.55      0.48       946
          7       0.60      0.45      0.51      4341
          8       0.39      0.93      0.55      9037
          9       0.55      0.28      0.37      7135
         12       0.13      0.38      0.19       199
         14       0.02      0.25      0.03         4
         15       0.43      0.41      0.42       731
         18       0.29      0.54      0.38       421
         19       0.17      0.93      0.29       279
         20       0.41      0.77      0.53       485
         21       0.37      0.59      0.45       469
         22       0.41      0.32      0.36       703
         23       0.21      0.66      0.31        98
         24       0.63      0.47      0.54      1963
         25       0.71      0.62      0.66      2785
         26       0.28      0.60      0.38       388
         27       0.56      0.57      0.57       573
         28       0.32      0.53      0.40       368
         29       0.07      0.02      0.03       320
         30       0.30      0.36      0.33       803
         31       0.52      0.93      0.67       446
         32       0.71      0.55      0.62      1505
         33       0.41      0.54      0.47       986
         34       0.43      0.43      0.43       545
         35       0.44      0.41      0.42      1555
         36       0.58      0.49      0.53      2247
         37       0.56      0.52      0.54      2108
         38       0.43      0.32      0.37      2193
         39       0.59      0.25      0.36      7435
         40       0.90      0.43      0.58      4594
         41       0.18      0.05      0.07       414
         42       0.47      0.02      0.04      1400
         43       0.00      0.00      0.00       636
         44       0.49      0.05      0.08       865
        999       0.76      0.73      0.75      6142

avg / total       0.56      0.51      0.49     70685

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# submission file preprocessing

In [ ]:
test = pd.read_csv("../../wy_private/walmart-trip-classification/dataset/test.csv")
print(test.shape)
test.head()

In [ ]:
test["Weekday"] = test["Weekday"].apply(lambda x: wd[x])
purchase_return(test)
test.drop("Upc", axis=1, inplace=True)
count_per_DD(test)

In [ ]:
test_dpts = test.loc[:, "1-HR PHOTO":"WIRELESS"]
test_scvn = test[["VisitNumber", "ScanCount"]]
test_sum_groupby = pd.concat([test_scvn, test_dpts], axis=1)

print(test_sum_groupby.shape)
test_sum_groupby.head()

In [ ]:
group_sum_test = test_sum_groupby.groupby("VisitNumber").agg(np.sum).reset_index()

print(group_sum_test.shape)
group_sum_test.head()

In [ ]:
return_test_df = test[['Return', 'VisitNumber']].groupby(['VisitNumber']).sum()
return_test_df['Return'] = return_test_df['Return'].apply(lambda x: 1 if x > 0 else 0)
return_test_df.reset_index(drop=False, inplace=True)

weekday_test_df = test[['Weekday', 'VisitNumber']].groupby(['VisitNumber']).mean()
weekday_test_df.reset_index(drop=False, inplace=True)

group_sum_test['Return'] = return_test_df['Return']
group_sum_test['Weekday'] = weekday_test_df['Weekday']

In [ ]:
test_df = group_sum.copy()

In [ ]:
print(test_df.shape)
test_df.head()