In [44]:
train = pd.read_csv("../dataset/train.csv")

### Set Weekday as Number

In [3]:
wd = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3, 
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6,
}
# train["Weekday"] = train["Weekday"].apply(lambda x: wd[x])

### 각 DepartmentDescriptoin 당 ScanCount

### Recognizing Return

In [6]:
def add_return(data):
    """
    Add new feature "return" if ScanCount < 0.
    1: return occured, 0: no return.
    """
    data.loc[data.ScanCount < 0, "Return"] = 1
    data.loc[data.Return != 1, "Return"] = 0

In [92]:
# 주석 처리한 부분을 실행하면 0, 1로 변경되어서 실행 안하도록 코드 수정했습니다.

def count_per_desc(data):
    """
    OneHotEncoding DepartmentDescription 
    then multiply ScanCount.
    """
    dummies = pd.get_dummies(data.DepartmentDescription)
#     data[dummies.columns] = dummies
#     data_dummies = data.loc[:, "1-HR PHOTO":"WIRELESS"]
    data_dummies = dummies.apply(lambda x: x * data["ScanCount"])
    data_dummies = data_dummies.replace(-0, 0)
    data[dummies.columns] = data_dummies

### Grouping Data

In [42]:
def group_by_vn(data):
    """
    grouping data by VisitNumber.
    """
    grouped = data.groupby("VisitNumber")

    pass

### Category Counts

In [56]:
a = np.asarray(train.loc[:, "1-HR PHOTO":"WIRELESS"])

In [ ]:
# return은 고려하지 않고 있는데, 이 부분에 대해서 논의가 필요할 듯 합니다.
# 원 코드 iloc --> loc로 컬럼 직관적으로 파악할 수 있도록 변경

def category_counts(dta):
    """
    Count total number of unique DepartmentDescription made on each trip.
    """
    alist = []
    for array in np.asarray(data.loc[:, "1-HR PHOTO":"WIRELESS"]):
        count = 0
        for item in array:
            if item > 0:
                count += 1
        alist.append(count)
    cat_counts = pd.DataFrame(alist)
    cat_counts = cat_counts.rename(columns={0:"CategoryCount"})
    cat_counts = cat_counts.set_index(data.index)
    data.insert(7, "CategoryCounts", cat_counts)
    return data
    
    pass

In [83]:
train2 = train.copy()

In [89]:
del train2["CategoryCounts"]

In [90]:
train2.insert(7, "CategoryCounts", 1)

In [87]:
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
train2.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,CategoryCounts,1-HR PHOTO,ACCESSORIES,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
def add_category_counts(data):
    alist = []
    for array in np.asarray(data.iloc[:,4:]):
        count = 0
        for item in array:
            if item > 0:
                count += 1
        alist.append(count)
    cat_counts = pd.DataFrame(alist)
    cat_counts = cat_counts.rename(columns={0:"CategoryCount"})
    cat_counts = cat_counts.set_index(data.index)
    data.insert(4, 'CategoryCounts', cat_counts)
    return data

def add_category_counts_test(data):
    alist = []
    for array in np.asarray(data.iloc[:,3:]):
        count = 0
        for item in array:
            if item > 0:
                count += 1
        alist.append(count)
    cat_counts = pd.DataFrame(alist)
    cat_counts = cat_counts.rename(columns={0:"CategoryCount"})
    cat_counts = cat_counts.set_index(data.index)
    data.insert(3, 'CategoryCounts', cat_counts)
    return data