## Grouping by VisitNumber 
- TripType, Weekday 변수는 VisitNumber별 최빈값을 넣음
- DepartmentDescription, FinelineNumber 변수는 더미변수로 만들고, VisitNumber별 해당 카테고리에 대한 갯수를 넣음  
- Upc, ScanCount 변수 제외

In [1]:
train = pd.read_csv("data/train.csv")

In [2]:
from collections import Counter
def mode(x):
    counts = Counter(x)
    max_count = max(counts.values())
    ls = [x_i for x_i, count in counts.items() if count == max_count]
    return ls[0]

In [5]:
def index_VisitNumber(data):
    # VisitNumber별 TripType, Weekday grouping(최빈값) 후 merge
    df_TT = data.groupby('VisitNumber').agg(mode)['TripType'].reset_index()
    df_Weekday = data.groupby('VisitNumber').agg(mode)['Weekday'].reset_index()
    df_merge1 = pd.merge(df_TT, df_Weekday)
    
    # VisitNumber별 DepartmentDescription, FinelineNumber 더미변수로 grouping 후 merge
    data['Count'] = 1
    df_DD = data.pivot_table(values='Count', index=['VisitNumber'], columns=['DepartmentDescription'], aggfunc=np.sum, fill_value=0)
    df_DD = df_DD.reset_index()
    df_FN = data.pivot_table(values='Count', index=['VisitNumber'], columns=['FinelineNumber'], aggfunc=np.sum, fill_value=0)
    df_FN = df_FN.reset_index()
    df_merge2 = pd.merge(df_DD, df_FN)
    train_IndexVN = pd.merge(df_merge1, df_merge2)
    train_IndexVN = train_IndexVN.set_index('VisitNumber')
    
    return train_IndexVN

In [6]:
Index_VN = index_VisitNumber(train)
Index_VN.head()

,TripType,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,...,9964.0,9966.0,9967.0,9970.0,9971.0,9974.0,9975.0,9991.0,9997.0,9998.0
VisitNumber,,,,,,,,,,,,,,,,,,,,,
5,999,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,30,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,26,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,8,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,8,Friday,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Index_VN.to_csv("data/train_indexVN.csv")